.blogindex-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  margin-bottom: 20px;
}

.blogindex-header {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #82aaff;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.blogindex-posts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.blogindex-post__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogindex-info__title {
  padding-bottom: 5px;
  color: #eceff4;
  font-size: 16px;
  font-weight: bold;
}

.blogindex-info__date {
  font-size: 14px;
  color: #e5e9f0;
}

.blogindex-posts__post {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f2329;
  border-radius: 0.3rem;
  width: 350px;
  padding: 1em;
  text-decoration: none;
  box-shadow: rgb(0 0 0/ 15%) 0px 5px 10px 0px;
  border: #1f2329 2px solid;
}

.blogindex-posts__post:hover {
  background: #5e81ac;
  border: #5e81ac 2px solid;
}

.blogindex-posts__post:visited {
  border: #244d69 2px solid;
}

.new {
  border: #82aaff 2px solid;
}

.new:visited {
  border: #82aaff 2px solid;
}

/* .blogindex-posts__post:visited:hover {
  background: #88c0d0;
} */

@media only screen and (max-width: 320px) {
  .blogindex-posts__post {
    width: 300px;
  }
}
@media only screen and (min-width: 320px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 641px) {
  .blogindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 961px) {
  .blogindex-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .blogindex-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (min-width: 1281px) {
  .blogindex-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}
