.error-container {
  margin: 0 25%;
}

.error-container__terminal::before {
  content: "...";
  animation: animate1 3s;
}

@keyframes animate1 {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
  100% {
    content: "...";
  }
}

.error-container__terminal-slash::before {
  content: "\\";
  animation: animate2 infinite 1.2s;
}
@keyframes animate2 {
  0% {
    content: "\\";
  }
  25% {
    content: "/";
  }
  50% {
    content: "\\";
  }
  75% {
    content: "/";
  }
  100% {
    content: "\\";
  }
}

@media screen and (max-width: 1300px) {
  .error-container {
    margin: 0 22%;
  }
}

@media screen and (max-width: 768px) {
  .error-container {
    margin: 0 2%;
  }
}
