.seriesindex-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}

.seriesindex-header {
  margin: 0;
  margin-bottom: 20px;
}

.seriesindex-posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seriesindex-posts__post {
  margin-bottom: 14px;
  display: flex;
}

.seriesindex-posts__post a {
  text-decoration: none;
}

.seriesindex-name {
  text-transform: capitalize;
}

@media screen and (max-width: 1300px) {
  .seriesindex-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 768px) {
  .seriesindex-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 650px) {
  .seriesindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 14px;
  }
}
