.seriesindex-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  margin-bottom: 20px;
}

.seriesindex-header {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #82aaff;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.seriesindex-posts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.seriesindex-posts__post {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
  background: #1f2329;
  border-radius: 0.3rem;
  width: 320px;
  padding: 1em;
  text-decoration: none;
  box-shadow: rgb(0 0 0/ 15%) 0px 5px 10px 0px;
}

.seriesindex-name {
  text-transform: capitalize;
  color: #eceff4;
  font-size: 16px;
  font-weight: bold;
}

.seriesindex-posts__post:hover {
  background: #5e81ac;
}

@media only screen and (max-width: 320px) {
  .seriesindex-posts__post {
    width: 300px;
  }
}
@media only screen and (min-width: 320px) {
  .seriesindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 16px;
  }
}
@media only screen and (min-width: 481px) {
  .seriesindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 641px) {
  .seriesindex-container {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 17px;
  }
}
@media only screen and (min-width: 961px) {
  .seriesindex-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1025px) {
  .seriesindex-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 1281px) {
  .seriesindex-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
