<nav class="navbar" id="navbar">
  <!-- <a class="navbar-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a> -->
  <a class="navbar-link <%= path === '/blog' ? 'active' : '' %>" href="/blog"
    >Blog</a
  >
  <a
    class="navbar-link <%= path === '/series' ? 'active' : '' %>"
    href="/series"
    >Series</a
  >
</nav>
