<%- include('./includes/head', {title: `${title} - WildwoodTech`}); -%>
    <link rel="stylesheet" href="/styles/markdown.css" />
    <script src="/highlight.min.js"></script>
  </head>
  <body>
    <%- include('./includes/navbar', {path: "/blog"}); -%>

    <div class="blog-container"><%-body%></div>
    <p class="tags">Tags: <% for( tag of tags ) { %>`<%- tag %>` <% }%></p>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
