<%- include('./includes/head', {title: "Home - WildwoodTech" }); -%>
  <link rel="stylesheet" href="/styles/templates/home.css" />
  </head>

  <body>
    <%- include('./includes/navbar', {path: "/" }); -%>
      <div class="home-container">
        <div class="home-header">
          <!-- <h2 class="home-header_title">Wildwood Tech</h2> -->
          <img class="home-header_image" src="/images/logo.svg" alt="main-logo">
        </div>
        <!-- <div>
          <p></p>
        </div> -->
      </div>
  </body>