<%- include('./includes/head', {title: `${series.charAt(0).toUpperCase() + series.slice(1)} - WildwoodTech` }); -%>
  <link rel="stylesheet" href="/styles/templates/series.css" />
  </head>

  <body>
    <%- include('./includes/navbar', {path: "/series" }); -%>
      <div class="service-container">
        <h2 class="service-header">Coming soon!</h2>
      </div>
<%- include('./includes/end'); -%>