html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #2e3440;
  color: #eceff4;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: geometricPrecision;
}

h1 {
  text-align: center;
  margin: 20px 0px;
  overflow: hidden;
  color: #82aaff;
}

h2 {
  color: #a3be8c;
}

h3 {
  color: #61aeee;
}

h4 {
  color: #56b6c2;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background: #eceff4;
  box-shadow: rgb(0 0 0/ 15%) 0px 5px 10px 0px;
}

.navbar-link {
  padding: 0 8px;
  /* font-weight: bold; */
  color: #2e3440;
  text-decoration: none;
}

.navbar-link:hover {
  color: #5e81ac;
}

/* .navbar-link:active,
.navbar-link.active {
  color: #88c0d0;
}
.navbar-link:active:hover,
.navbar-link.active:hover {
  color: #5e81ac;
} */
